@font-face {
    font-family: 'Matrix Code NFI';
    src: url('../fonts/matrix code nfi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body {
      background: #000000;
      color: #00FF41;
      font-family: 'Matrix Code NFI', sans-serif;
      text-shadow: 0 0 1px #00FF41,0 0 2px #00FF41,0 0 2px #00FF41;
      margin: 20px;
      
}


h1{
    font-size: 50px;
    text-shadow: 0 0 1px #00FF41,0 0 2px #00FF41,0 0 2px #00FF41;
}


.description{
    font-size: 25px;
}

.description-definition{
    font-size: 20px;
}

.black{
    color: black;
    text-shadow: none;
    background-color: azure;
}


.space{
    color:#000000;
    text-shadow: none;
}




input[type="checkbox"]:checked {
    accent-color: #00FF41;
}


.choice-label{
    font-size: 15px;
    text-shadow: 0 0 0px #00FF41,0 0 0px #00FF41,0 0 0px #00FF41;
    letter-spacing: 0.04em;
}


.choice{
    padding-inline-start: 20px;
}